{{ define "main" }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{ .Title }}</h2>
                {{ with .Content }}
                {{ . }}
                {{ end }}

                {{ $projetos := slice }}
                {{ range $key, $value := site.Data.projetos_defendidos }}
                {{ $projetos = $projetos | append $value }}
                {{ end }}

                {{ if gt (len $projetos) 0 }}
                <div class="table-responsive mt-4">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Período</th>
                                <th>Aluno</th>
                                <th>Título</th>
                                <th>Orientador</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range sort $projetos "nome" }}
                            <tr>
                                <td>{{ .ano }}.{{ .semestre }}</td>
                                <td>{{ .nome }}</td>
                                <td>{{ .titulo }}</td>
                                <td>{{ .orientador }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
                {{ else }}
                <p class="mt-4"><em>Nenhum projeto cadastrado ainda.</em></p>
                {{ end }}

                <div class="mt-4 pt-3 border-top">
                    <a href="/tcc/projetos-em-curso/" class="btn btn-sm" style="background-color:#ffbc3b; color:#fff;">
                        <i class="ti-write mr-1"></i> Ver Projetos em Curso
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}