name: Deploy Hugo Site

on:
  push:
    branches:
      - main  # Ou a branch que você usa para deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Instalar Hugo Extended
        run: |
          wget https://github.com/gohugoio/hugo/releases/download/v0.145.0/hugo_extended_0.145.0_linux-amd64.tar.gz
          tar -xzf hugo_extended_0.145.0_linux-amd64.tar.gz
          sudo mv hugo /usr/local/bin/
          hugo version  # Para verificar a instalação        

      - name: Gerar site estático
        run: hugo --minify

      - name: Configurar chave SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "Verificando diretório ~/.ssh"
          ls -la ~/.ssh
          echo "Testa conexão SSH"
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no araujo@152.92.238.58 'echo "Testando Conexão bem-sucedida!"'
          ssh-keyscan -H 152.92.238.58 > ~/.ssh/known_hosts

      - name: Enviar arquivos via scp
        run: scp -r public/* araujo@152.92.238.58:/var/www/desc.eng.uerj.br/
